$light-gray: #B1ADB5;

$blue: #3E5B5C;
$lightest-blue: #89A1A2;
$light-blue: #597778;
$dark-blue: #233536;
$darkest-blue: #132A2B;

$beige: #997D66;
$lightest-beige: #FFEAD8;
$light-beige: #C7AB93;
$dark-beige: #59483A;
$darkest-beige: #48321F;

// color pallette selected using paletton.com
