@import url(https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|Megrim|Oranienbaum);

$megrim: 'Megrim', cursive;
$firac: 'Fira Sans Condensed', sans-serif;
$fira: 'Fira Sans', sans-serif;
$oran: 'Oranienbaum', serif;
