
.event-form {
  background-color: $darkest-blue;
  padding: 50px;
  border-radius: 10px;
  border: 15px solid $dark-blue;
  color: $lightest-blue;
  font-family: $firac;
  margin: 0 auto;
  margin-bottom : 30px;
}

.event-form button {
  margin-top: 10px;
  font: $firac;
  font-size: 20px;
  width: 70%;
  padding: 5px;
  background-color: $light-blue;
  color: $darkest-blue;
  border-radius: 10px;
}

.event-form button:hover {
  background: $lightest-blue;
  cursor: pointer;
}

.event-form a {
  color: $light-blue;
  text-decoration: none;
}

.event-form a:hover {
  color: $lightest-blue;
}
