.footer{
  width: 100%;
  height: 70px;
  background-color: $darkest-blue;
  color: $lightest-blue;
  padding-bottom: 35px;
  border-top: 10px solid $dark-blue;

  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;

  font-family: $firac;
}

.footer-links{
  display: flex;
  position: relative;
}

.footer-logo {
  background: url(http://res.cloudinary.com/zach/image/upload/v1484254661/trekmates/mountain-3-512_vpzuc8.png);
  height: 150px;
  width: 150px;
  background-size: 100%;
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
}

.footer-links a{
  margin: 10px;
  padding: 10px 15px 0px 15px;
  opacity: 0.6
}

.footer-links a:hover{
  opacity: 1;
}

.footer-links a i{
  color: $blue;
}
