.footer{
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  opacity: 0.95;
  padding-bottom: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: $fira;
}

.footer-links{
  display: flex;
  position: relative;
  border-top: 1px solid $light-gray;
}

.footer-logo {
  background: url(http://res.cloudinary.com/zach/image/upload/v1484254661/mountain-3-512_vpzuc8.png);
  height: 50px;
  width: 50px;
  background-size: 100%;
  display:inline-block;
}

.footer-links a{
  margin: 0px 10px 10px 10px;
  padding: 10px 15px 0px 15px;
}
