a {
  text-decoration: none;
}

.group-page {
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.group-page-header {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-family: $firac;
  background-color: $darkest-blue;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 15px solid $dark-blue;
  color: $lightest-blue;
  text-align: center;
}

.group-page-header button{
  margin: 15px 10px 0 10px;
  font: $firac;
  font-size: 15px;
  width: 15%;
  padding: 5px;
  background-color: $light-blue;
  color: $darkest-blue;
  border-radius: 10px;
}

.group-page-header button a{
  color: $darkest-blue;
}

.group-page-sidebar p button {
  width: 50%;
  font: $firac;
  background-color: $light-blue;
  color: $darkest-blue;
  border-radius: 10px;
}

.group-page-sidebar a {
  text-decoration: none;
  color: $darkest-blue;
}

.group-page-header button:hover, .group-page-sidebar p button:hover {
  background: $lightest-blue;
  cursor: pointer;
}

.group-page-body {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  font-family: $firac;
}

.group-page-sidebar {
  font-family: $fira;
  border: 3px solid $darkest-blue;
  background-color: $dark-blue;
  margin: 20px;
  padding: 20px;
  text-align: center;
  height: auto;
  justify-content: left;
  color: $white-blue;
  width: 20%;
}

.group-page-right  {
  width: 80%;
}

.event-index-item a {
  color: $dark-blue
}

.event-index-item a:hover {
  color: $light-blue
}

.group-events {
  border: 2px solid $darkest-blue;
  margin: 20px;
  padding: 20px;
  min-height: 420px;
  background-color: $light-beige;
}

.group-events-blank {
  text-align: center;
}
