.group-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $fira;
}

.group-form {
  position: relative;
  align-content: center;
  text-align: center;
  margin: auto;
  background-color: $light-gray;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
}

button:hover {
  background: DarkSlateGray;
}
