group-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $fira;
}

.group-form {
  position: relative;
  align-content: center;
  text-align: center;
  margin: auto;
  background-color: $darkest-blue;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 15px solid $dark-blue;
  color: $lightest-blue
}

.group-form a{
  color: $light-beige;
}

.group-form a:hover {
  color: $beige;
  cursor: pointer;
}

.group-form button {
  margin-top: 10px;
  font: $firac;
  font-size: 20px;
  width: 70%;
  padding: 5px;
  background-color: $light-blue;
  color: $darkest-blue;
  border-radius: 10px;
}

.group-form button:hover {
  background: $lightest-blue;
  cursor: pointer;
}
