.nav-bar-logged-in {
  display: flex;

}

.nav-bar-logged-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background: linear-gradient(#130320, white);
  border-bottom: 3px solid grey;
}

.nav-session-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-session-buttons button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  background: $light-gray;
  height: 40px;
}

.left-nav {
  align-items: center;
}

.left-nav h1{
  display:inline-block;
}

.logo {
  background: url(http://res.cloudinary.com/zach/image/upload/v1484254661/mountain-3-512_vpzuc8.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  display:inline-block;
}
