.nav-bar-logged-in {
  display: flex;
}

.nav-bar-logged-out, .nav-bar-logged-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background: linear-gradient(#130320, white);
  border-bottom: 10px solid $dark-blue;
  border-top: 10px solid $dark-blue;
  background-color: $darkest-blue;
}

.nav-session-buttons, .nav-options {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 20px;
}

.nav-session-buttons button, .nav-options button {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  padding: 10px;
  background: $blue;
  height: 40px;
  border-radius: 10px;
  border-color: 10px solid $lightest-blue;
  font-family: $firac;
  font-size: 15px;
  color: $lightest-blue;
}

.nav-session-buttons button:hover, .nav-options button:hover {
  background: $dark-blue;
  cursor: pointer;
}

.header-name {
  font-family: $fira;
  color: $light-blue;
}


.left-nav {
  align-items: center;
  padding-right: 20px;
}

.left-nav h1{
  display:inline-block;
  font-size: 30px;
  margin: 15px;
}

.logo {
  background: url(http://res.cloudinary.com/zach/image/upload/v1484254661/trekmates/mountain-3-512_vpzuc8.png);
  height: 40px;
  width: 40px;
  background-size: 100%;
  display:inline-block;
  margin-right: -10px;
}

.logo-name{
  font-family: $megrim;
  color: $lightest-blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}
