.nav-bar-logged-in {
  display: flex;

}

.nav-bar-logged-out, .nav-bar-logged-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background: linear-gradient(#130320, white);
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.nav-session-buttons, .nav-options {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 20px;
}

.nav-session-buttons button, .nav-options button {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  padding: 10px;
  background: $light-gray;
  height: 40px;
  border-radius: 10px;
}

.nav-session-buttons button:hover, .nav-options button:hover {
  background: DarkSlateGrey;
}



.left-nav {
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid $light-gray;
}

.left-nav h1{
  display:inline-block;
}

.logo {
  background: url(http://res.cloudinary.com/zach/image/upload/v1484254661/mountain-3-512_vpzuc8.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  display:inline-block;
}

.logo-name{
  font-family: $megrim;
}
