body{
  margin: 0;
  height: 100%;
  overflow: auto;
}

// html {
//     overflow: hidden;
//     height: 100%;
// }
// removes white space jump with scrolling, messes up session form.  reimplement after you do modals!

.hero-frame {
  max-width: 100%;
  min-width: 10px;
  min-height: 600px;
  background: url(http://res.cloudinary.com/zach/image/upload/v1484184470/trekmates/8tjbrqgkfyu-david-marcu_bgudkd.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  justify-content: center;
  width: 100%;
}

.hero-content p {
  max-width: 50%;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
  font-family: $fira;
}

.login-form {
  align-content: center;
}

.login-form-box {
  font-family: $firac;
  border: 9px solid $dark-blue;
  position: absolute;
  background-color: $darkest-blue;
  opacity: 0.9;
  left: 56%;
  top: 30%;
  padding: 60px;
  border-radius: 10px;
  text-align: center;
  color: $white-blue;
}

.login-form input {
  margin-top: 10px;
}

.login-form label input {
  margin-left: 10px;
}

.auth-errors{
  text-align: center;
  list-style: none;
  font-weight: bold;
  color: $light-beige;
}

.submit-button {
  margin-top: 10px;
  font: $firac;
  font-size: 20px;
  width: 70%;
  padding: 5px;
  background-color: $light-blue;
  color: $darkest-blue;
}

.auth-text {
  color: $lightest-blue
}

.auth-link {
  color: $light-beige;
}

.auth-link:hover {
  color: $beige;
}

.submit-button:hover {
  background: $lightest-blue;
  cursor: pointer;
}
