.hero-frame {
  max-width: 100%;
  min-width: 10px;
  min-height: 600px;
  background: url(http://res.cloudinary.com/zach/image/upload/v1484184470/8tjbrqgkfyu-david-marcu_bgudkd.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  justify-content: center;
  width: 100%;
}

.hero-content p {
  text-align: center;
  color: white;
  font-size: 32px;
}
